$breakpoint-small: 640px;
$breakpoint-medium: 960px;
$breakpoint-large: 1280px;
$breakpoint-xlarge: 1600px;
$breakpoint-xsmall-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);

$breakpoint-sm: 640px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1600px;

// $primary-color: #f16821;
$primary-color: #ba482c;
