@import 'responsive';

.underground {
  padding-top: 56px;
  padding-bottom: 48px;
}

.underground-layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @include below(sm) {
    flex-direction: column;
  }
}

.underground-layout__contacts {
  width: 50%;
  padding-left: 30px;
  padding-top: 30px;
  display: flex;

  @include below(sm) {
    width: 100%;
  }
}

.underground-layout__services {
  width: 50%;
  padding-left: 30px;
  padding-top: 30px;

  @include below(sm) {
    width: 100%;
  }
}

.underground-contacts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.underground-contacts__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 48px;

  @include below(sm) {
    margin-bottom: 24px;
  }
}

.underground-contacts__details {
  display: grid;
  margin-bottom: 48px;
}

.underground-contacts__address {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  line-height: 1.15;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 41px;
}

.underground-contacts__phone {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  line-height: 1.5;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.underground-contacts__phone a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.underground-contacts__phone a:hover {
  text-decoration: none;
  color: $primary-color;
}

.underground-contacts__phone a:hover svg {
  fill: $primary-color;
}

.underground-contacts__phone svg {
  fill: #fff;
  margin: 0 6px 0 -3px;
}

.underground-contacts__email {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  line-height: 1.5;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  letter-spacing: 0.09em;
  margin-bottom: 16px;
}

.underground-contacts__email a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px dashed #fff;
}

.underground-contacts__email a:hover {
  text-decoration: none;
  color: $primary-color;
  border-bottom-color: $primary-color;
}

.underground-contacts__email a:hover svg {
  fill: $primary-color;
}

.underground-contacts__email svg {
  fill: #fff;
  margin: 0 11px 0 -1px;
}

.underground-contacts__map {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  line-height: 1.5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.6px;
  display: flex;
  align-items: center;
  padding-bottom: 16px;

  @include below(md) {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
}

.underground-contacts__map a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.underground-contacts__map a:hover {
  text-decoration: none;
  color: $primary-color;
  border-bottom-color: $primary-color;
}

.underground-contacts__map a:hover svg {
  fill: $primary-color;
}

.underground-contacts__map svg {
  fill: #fff;
  margin: 0 10px 0 -1px;
}

.underground-contacts__links {
  padding: 0;
  margin: auto 0 0;
  list-style: none;
}

.underground-contacts__links li {
  font-size: 16px;
  line-height: 1.2;
}

.underground-contacts__links li + li {
  margin-top: 5px;
}

.underground-contacts__links li a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: underline;
}

.underground-contacts__links li a:hover {
  text-decoration: underline;
  color: $primary-color;
}

.underground-layout__services {

}

.underground-services__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 48px;

  @include below(sm) {
    margin-bottom: 24px;
  }
}

.underground-services__list {
  padding: 0;
  margin: 57px 0 0;
  list-style: none;
}

.underground-services__list li {

}

.underground-services__list li + li {
  margin-top: 15px;
}

.underground-services__list li a {
  display: block;
  padding-left: 28px;
  font-size: 18px;
  color: #fff;
  line-height: 300;
  line-height: 1.2;
  position: relative;
}

.underground-services__list li a::before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  left: 6px;
  top: 8px;
  background: currentColor;
}

.underground-services__list li a:hover {
  text-decoration: underline;
  color: $primary-color;
}

.footer-section {
  background: #333;
}

.footer {
  border-top: 1px solid #4c4c4c;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include below(sm) {
    flex-wrap: wrap;
  }
}

.footer__gap-1 {
  flex-grow: 1;
}

.footer__gap-2 {
  width: 32px;
}

.footer__gap-3 {
  flex-grow: 1;
}

.footer__copyright {
  font-size: 14px;
  color: #fff;

  @include below(sm) {
    width: 100%;
    max-width: initial;
    margin-bottom: 16px;
  }
}

.footer__counters {
}

.footer__map {
  font-size: 14px;
  color: #fff;
}

.footer__map a {
  text-decoration: underline;
  color: inherit;
}

.footer__map a:hover {
  color: $primary-color;
}

.footer__creator {
}

.footer__creator a {
  filter: grayscale(100%);
}

.footer__creator a:hover {
  filter: grayscale(0);
}

.scroll-up {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
  width: 66px;
  height: 66px;
  border-radius: 12px;
  background-color: rgba(56, 40, 29, 0.3);
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  padding: 0;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 200;

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-left: 4px solid currentColor;
    border-top: 4px solid currentColor;
    transform: rotate(45deg);
    margin-bottom: 4px;
  }

  &:hover {
    background-color: rgba(56, 39, 29, 0.7);
  }

  @include below(sm) {
    width: 54px;
    height: 54px;
    right: 10px;
    bottom: 18px;
  }
}

.float-visible .scroll-up {
  opacity: 1;
  visibility: visible;
}

.grecaptcha-badge {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.feedback {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  text-align: left;
}

.feedback__your-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.feedback__your-phone {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.feedback__your-email {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.feedback__message {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
}

.feedback__rules {
  margin: 5px 0;
  color: #d8d8d8;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.feedback__submit {
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.feedback__loader {
  display: none;

  ._mail-sending & {
    display: block;
  }
}

.feedback__success {
  display: none;
  grid-row: 1 / 6;
  grid-column: 1 / 3;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

._mail-sent .feedback__success {
  display: flex;
}

.feedback__success::before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  backdrop-filter: blur(4px);
  background: rgba(51, 51, 51, 0.9);
}

.feedback__success::after {
  content: '';
  display: block;
}

.feedback__failed {
  display: none;
  grid-row: 1 / 6;
  grid-column: 1 / 3;
  position: relative;
  z-index: 1;
  // display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

._mail-failed .feedback__failed {
  display: flex;
}

.feedback__failed::before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  backdrop-filter: blur(4px);
  background: rgba(51, 51, 51, 0.9);
}

.feedback__failed::after {
  content: '';
  display: block;
}

.feedback-result {
}

.feedback-result__head {
  margin-bottom: 32px;
}

.feedback-result__head-icon {

}

.feedback-result__head-title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.feedback-result__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-result__body-text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
  color: #fff;
}

.feedback-result__body-close {
  border: 2px solid #ba482c;
  background-color: #ba482c;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.25);
  color: #fefeff;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.feedback-result__body-close:hover {
  border-color: #ba482c;
  background-color: #a35643;
}
