.header {
  position: sticky;
  top: 0;
  // left: 0;
  // width: 100%;
  z-index: 200;
  background: #333;
  transition: background .5s ease;
}

.page-template-template-home .header {
  background: transparent;
  margin-bottom: -64px;
}

.page-template-template-home.float-visible .header {
  background: #333;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.header__toggle {
  display: none;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.header__logo a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.header__menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__menu .menu-item {
  margin: 0 12px;
}

.header__menu .menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.header__menu .menu-item a:hover {
  color: $primary-color;
}
