.header {
  position: sticky;
  top: 0;
  // left: 0;
  // width: 100%;
  z-index: 200;
  background: #333;
  transition: background .5s ease;
}

.page-template-template-home .header {
  margin-bottom: -64px;
}

.page-template-template-home:not(.float-visible) .header {
  background: transparent;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.header__toggle {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: rgba(62, 162, 228, 0.22);
  }

  span {
    width: 24px;
    height: 4px;
    background: #0d5c97;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      margin-top: -8px;
    }

    &:nth-child(3) {
      margin-top: 8px;
    }
  }

  @include above(md) {
    display: none;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}

.header__logo a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.header__menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @include below(md) {
    display: none;
  }
}

.header__menu .menu-item {
  margin: 0 12px;
}

.header__menu .menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.header__menu .menu-item a:hover {
  color: $primary-color;
}
