.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #4c3e37;
  padding: 164px 0 100px;
}

.intro__content {

}

.intro__name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.intro__description {
  font-size: 18px;
  color: #d4d4d4;
  text-align: center;
}

.intro-link {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.intro-link__button {
  display: inline-flex;
  padding: 12px 24px;
  color: #fff;
  background-color: $primary-color;
  border: 2px solid $primary-color;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  text-decoration: none;
  width: 220px;
}

.intro-link__button:hover {
  background: none;
  border: 2px solid #fff;
}

.about {
  padding: 80px 0;
}

.about-layout {
  display: flex;
  gap: 80px;
}

.about-layout__text {
  width: 60%;
}

.about-layout__image {
  width: 40%;
}

.about__name {
  font-size: 32px;
  font-weight: bold;
  color: $primary-color;
}

.about__name::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background: $primary-color;
  margin-top: 12px;
}

.about__description {
  margin-top: 24px;
  line-height: 1.5;
  font-size: 16px;
}

.about__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  padding: 80px 0;
  background: #f8f9fa;
}

.gallery-headline {
  margin-bottom: 40px;
}

.gallery-headline__title {
  font-size: 32px;
  font-weight: bold;
  color: $primary-color;
  text-align: center;
}

.gallery-headline__title::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background: $primary-color;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-headline__description {
  margin-top: 24px;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}
